
// .form {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
//     grid-column-gap: 30px;
//     padding: 10px;
// }
// .grid-item {
//   border: 2px solid;
//   width: 75%;
//   border-radius: 4px;
//   padding: 20px;
//   box-sizing: border-box
// }
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  padding: 10px;
  border: 2px solid black;
  background-color: whitesmoke;
}



/* input:read-only {
  background-color: skyblue;
  border: 3px solid green;
}
form {
  display: flex;
}

.grid-item {
  background-color: linear-gradient(
    to left,
    rgba(700, 127, 822, 100) 0%,
    rgba(0, 128, 128, 1) 100%
  );
  padding: 5px;
  font-size: 20px;
  text-align: center;
}

input {
    width: 100%;
    height: 50%;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input:focus {
  border: 3px solid red;
  background-color: lightblue;
}

input[type=submit] {
  width: 50%;
  background-color: skyblue;
  color: black;
} */

// $sub-color: grey;
// $main-color: black;

// @mixin shrinkLabel {
//   top: -14px;
//   font-size: 12px;
//   color: $main-color;
// }

// .group {
//   position: relative;
//   margin: 45px 0;

//   .form-input {
//     background: none;
//     background-color: white;
//     color: $sub-color;
//     font-size: 18px;
//     padding: 10px 10px 10px 5px;
//     display: block;
//     width: 100%;
//     border: none;
//     border-radius: 0;
//     border-bottom: 1px solid $sub-color;
//     margin: 25px 0;

//     &:focus {
//       outline: none;
//     }

//     &:focus ~ .form-input-label {
//       @include shrinkLabel();
//     }
//   }

//   input[type='password'] {
//     letter-spacing: 0.3em;
//   }

//   .form-input-label {
//     color: $sub-color;
//     font-size: 16px;
//     font-weight: normal;
//     position: absolute;
//     pointer-events: none;
//     left: 5px;
//     top: 10px;
//     transition: 300ms ease all;

//     &.shrink {
//       @include shrinkLabel();
//     }
//   }
// }
